%p
  These courts handle <strong>#{@chosen_area_of_law.name}</strong> for the post code <strong>#{@search.q}</strong>.
%p
  All paper claim forms should be sent to:
%p
  #{money_claims_centre.name}
%p
  Hearings can be held at:
