<% content_for :title, 'Search results' %>

<% if @results %>
  <ul>
    <% @results.each do | court | %>
      <li><%= link_to(court.name, court_path(court)) %>
        <% if @distance %>
          is <%= court.distance.to_f.round(2) %> miles away
         <% end %>
       </li>
    <% end %>
  </ul>

  <%= will_paginate @results %>
<% end %>