<header role="banner" id="global-header" class="with-proposition">
  <div class="header-wrapper">
    <div class="header-global">
      <div class="header-logo">
        <a href="https://www.gov.uk/" title="Go to the GOV.UK homepage" id="logo" class="content">
          <img src="https://assets.digital.cabinet-office.gov.uk/static/gov.uk_logotype-2x-24145374d271079f08d96c618cc8d4a5.png" alt="GOV.UK"></a>
        <a href="#search" class="search-toggle">Search</a>
      </div>
    </div>

    <div class="header-proposition">
      <div class="content">
        <% if admin_area? %>
          <a href="#proposition-links" class="menu">Menu</a>
        <% end %>
        <nav id="proposition-menu">
          <a href="<%= root_path %>" id="proposition-name">Court and tribunal finder <small class="beta">BETA</small></a>
          <%= render 'shared/admin_nav' if admin_area? %>
        </nav>
      </div>
    </div>
  </div>
</header>