<section id="user-satisfaction-survey" class="not-shown">
  <div class="wrapper">
    <h1>Help us improve Court and Tribunal Finder</h1>
    <p class="right"><a href="#close-survey-box" class="close-survey-box close-on-click">Close</a></p>
    <p>This will open a short survey on another website</p>
    <p class="survey-link-box">
      <a href="https://www.surveymonkey.com/s/FXGCRTP" id="take-survey" target="_blank">Take the 3 minute survey</a>
      <a href="#survey-no-thanks" id="survey-no-thanks" class="close-on-click">No thanks</a>
    </p>
  </div>
</section>
