<% content_for :type, 'service' %>
<% content_for :title, 'Court and tribunal finder' %>

<section class="intro">
  <div class="get-started-intro">
    <p>Search for a court or tribunal in England and Wales, or a tribunal in Scotland.</p>
  </div>
</section>

<div class="find-nearest">
  <form method="get" action="/search" id="local-locator-form" class="find-location-for-service">
    <fieldset>
      <div id="filters">
        <label for="area_of_law">Please choose an area of law<br />
          <%= select_tag "area_of_law", options_from_collection_for_select(@areas_of_law, "name", "name"), :prompt => 'All law' %>
        </label>
      </div>
      <legend class="visuallyhidden">Postcode lookup</legend>
      <div class="ask_location">
        <label for="search-main">Enter a UK postcode, court or tribunal name<br />
          <input class="postcode" id="search-main" name="q" type="text" placeholder="eg SW1H 9AJ or Luton" autocomplete="off" />
        </label>
        <button type="submit" class="button">Search</button>
        <div id="results"></div>
      </div>
    </fieldset>
  </form>
</div>
<h3>Other search options</h3>
<p><%= link_to 'View all courts and tribunals', courts_path %></p>
<p><%= link_to 'View by region', regions_path %></p>
<p><%= link_to 'View by areas of law', areas_of_law_path %></p>
