<% content_for :type, 'service' %>
<% content_for :title, 'Find a court' %>

<section class="intro">
	<div class="get-started-intro">
		<p>Use this tool to find a Court, Tribunal or other building</p>
	</div>
</section>

<div class="find-nearest">
	<form method="get" action="/search" id="local-locator-form" class="find-location-for-service">
		<fieldset>
			<legend class="visuallyhidden">Postcode lookup</legend>
			<div class="ask_location">
				<label for="search-main">Enter a UK postcode or Court name <br />
					<input class="postcode" id="search-main" name="q" type="text" placeholder="Name or Postcde" autocomplete="off" autofocus />
				</label>
				<button type="submit" class="button">Find</button>
				<div id="results"></div>
				<!--h3>Search by:</h3>
				<div class="type">
					<label for="courtname">Court name
						<input class="checkbox" id="" name="courtname" type="checkbox" checked="checked">
					</label>
					<label for="tribunal ">Tribunal
						<input class="checkbox" id="" name="courtname" type="checkbox">
					</label>
					<label for="registry">Probate registry
						<input class="checkbox" id="" name="courtname" type="checkbox">
					</label>
				</div-->
			</div>
		</fieldset>
	</form>
</div>

<div id="advanced-search">
	<h2><a href="#">Need more options?</a></h2>
	<form method="post" id="advanced" class="more-options">
		<div class="form-item">
			<label for="parish">Parish </label>
			<input class="" id="parish" name="parish" type="text">
		</div>
		<br />
		<div class="form-item">
			<button type="submit" class="button">Find</button>
		</div>

		<h3><%= link_to 'Browse courts', courts_path %></h3>

		<h3>Areas of law</h3>
		<ul>
			<% @areas_of_law.each do |area| %>
				<li><%= link_to area.name, area_of_law_path(area) %></li>
			<% end %>
		</ul>

		<h3>Court types</h3>
		<ul>
			<% @court_types.each do |type| %>
				<li><%= link_to type.name, court_type_path(type) %></li>
			<% end %>
		</ul>
	</form>

</div>
