%h2.icon-print.hidden-print Information leaflets (ready to print):
%ul.unstyled.hidden-print
  %li= link_to 'Local information leaflet', information_path(@court)
  - if @court.leaflets.include? "defence"
    %li= link_to 'Defence witness leaflet', defence_path(@court)
  - if @court.leaflets.include? "prosecution"
    %li= link_to 'Prosecution witness leaflet', prosecution_path(@court)
  - if @court.leaflets.include? "juror"
    %li= link_to 'Juror leaflet', juror_path(@court)
