%h2.icon-print.hidden-print Information leaflets
%ul.unstyled.hidden-print
  %li= link_to 'Visitor information', information_path(@court)
  - if @court.leaflets.include? "defence"
    %li= link_to 'Defence witness', defence_path(@court)
  - if @court.leaflets.include? "prosecution"
    %li= link_to 'Prosecution witness', prosecution_path(@court)
  - if @court.leaflets.include? "juror"
    %li= link_to 'Juror', juror_path(@court)
