-# === Generic Links ===
%div{ :id => "related-links" }
  %h2 Related links
  %p
    %a(href="https://www.gov.uk") GOV.UK

  %p
    %a(href="http://hmctsformfinder.justice.gov.uk/HMCTS/FormFinder.do") Forms

  %p
    %a(href="http://www.justice.gov.uk/courts/fees") Fees

  / Court Type Links:
  - if @court.court_types_courts.map(&:court_type).collect(&:id).include? 35
    %p
      %a(href="http://www.familymediationcouncil.org.uk/") Family mediation
 
  - if @court.court_types_courts.map(&:court_type).collect(&:id).include? 31
    %p
      %a(href="http://www.civilmediation.org/") Civil mediation

  / Area of Law Links :
  - if @court.areas_of_law.pluck(:id).include? 418
    %p
      %a(href="https://www.gov.uk/make-court-claim-for-money") Money claims
  
  - if @court.areas_of_law.pluck(:id).include? 407
    %p
      %a(href="https://www.gov.uk/repossession") Repossessions (land or property)
    %p
      %a(href="https://www.gov.uk/possession-claim-online-recover-property")  Repossessions (for defendants and claimants)
  
  - if @court.areas_of_law.pluck(:id).include? 356
    %p
      %a(href="https://www.gov.uk/divorce") Divorce
  
  - if @court.areas_of_law.pluck(:id).include? 345
    %p
      %a(href="https://www.gov.uk/child-adoption") Child adoption
  
  - if @court.areas_of_law.pluck(:id).include? 360 
    %p
      %a(href="https://www.gov.uk/wills-probate-inheritance/applying-for-a-grant-of-representation") WWills, probate and inheritance
