- content_for :title, "You are a Defence Witness"

%p.hidden-print Print this page to take these details with you.

%ul.hidden-print
  %li
    = link_to 'Return', @court
  %li.print-link
    %a(href="#") Print

:markdown
  # -DEFENCE INTRO HERE-

= render 'print_details'

:markdown
  # -DEFENCE CONTENT HERE-