- content_for :title, @court.name
- content_for :titleMetadata, 'property="name"'.html_safe
- content_for :contentMetadata, 'vocab="http://schema.org/" typeof="Courthouse GovernmentOrganization"'.html_safe
- content_for :last_updated, @court.updated_at.to_s(:standard)
- content_for :nav do
  %li
    = link_to 'Courts', courts_path


- if @court.display

  = render 'court_details'

- else

  -# === Court closed ===
  %p This court or tribunal is no longer in service.
