@import "colours";
@import "moj-base";

.manage_all_courts {
  article .inner {
    padding: 0 30px;
  }
}

article .inner .edit-court {
  p {
    margin: 0 0 0.5em;
  }
}

#edit-tabs {

  .js-tabs-nav {
    margin: 0 0 2em;
    padding: 0.6em 0;
    list-style: none;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

    li {
      font-size: 17px;
      float: left;
      padding: 0.3em 0.6em;
      margin: 0;

      a {

      }

      &.is-active {

        a {
          cursor: text;
          text-decoration: none;
          color: $black;
        }
      }
    }
  }
}

#user_nav {
  float: right;
  line-height: 1.25;
  margin-right: 30px;
  padding: .75em 0;
}

div.input.string,
div.input.select,
div.input.decimal,
div.input.tel,
div.input.boolean,
div.input.text,
div.input.file,
div.input.email,
div.input.password,
// div.input.check_boxes,
div.input.integer {
  margin-top: 10px;

  label {
    float: left;
    width: 150px;
  }
  label.boolean,
  span.hint {
    float: none;
    margin-left: 160px;
    input {
      margin-right: 5px;
    }
  }
  input[type=text],
  input[type=email],
  input[type=password],
  input[type=tel],
  input[type=number],
  input[type=file],
  span.input {
    width: 380px;
    margin: 0 0.5em;
  }
  textarea {
    width: 320px;
    height: 70px;
    margin: 0 10px;
  }
  select {
    margin: 0 10px;
    max-width: 390px;
  }
  input[type="email"], input[type="password"], input[type=tel]{
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 300;
    text-transform: none;
    border: 1px solid #bbb;
    min-width: 8em;
    padding: 0.25em;
  }
}

div.court_areas_of_law, div.court_court_types {
  label { width:50%; display:inline-block; }
  input { margin-right:3px; }
}

div.input.court_info, div.input.court_info_leaflet, div.input.court_prosecution_leaflet,
  div.input.court_defence_leaflet, div.input.court_juror_leaflet   {
  label {
    float: none;
  }
}

div.court_court_facilities_description div.cke {
  width: 410px;
  margin-left: 160px;
}

form {
  width: 570px;
  .form-actions {
    @extend .clearfix;
    margin-top: 1em;
    padding: 10px 30px;
    background: #eee;

    &.form-actions--right{
      .button {
        float: right;
        margin-left:0.5em;
      }
    }

  }
}

#user-notice {
  padding: 10px 30px;
  background: #eee;
}

.destroy {
  margin: 5px 0 0 160px;
  font-size: 1.6rem;

  .undo,
  input,
  label {
    display: none;
  }
}

.field-group {
  float: right;
}

.destroy .ui-icon {
  float: left;
  margin: 3px 3px 0 0;
}

.court-closed {
  margin-top: 3em;
  padding: 5px 15px 15px;
  background: #eee;

  p,
  div {
    font-size: .9em;
  }
}

.sortable {
  padding: 0;
  list-style: none;

  .sortable-summary {
    display: none;
    cursor: move;
    background: #eee;
    border: 1px solid #ccc;
  }

  .ui-icon {
    float: left;
    margin-top: 2px;
  }

  .ui-state-highlight {
  }

  li {
    min-height: 1em;
    margin: 0 0 3px 0;
    padding: 0;
    font-size: 1.6rem;
  }
}
.js-enabled .sortable {
    [class*="_sort"] {
      display: none;
    }
}

// Display features for high level admin users only
textarea.admin-only,
.admin-only input {
  background: #eee;
}

textarea#court_directions {
  width: 530px;
  height: 75px;
  resize: none;
}

textarea.leaflet {
  width: 568px;
  height: 100px;
  resize: none;
}

.simple_form .error {
  display: block;
  font-size: 1.4rem;
}

#parking  {
  ul.parking-options {
    list-style: none;

    li {
      &.free-parking-question {
        margin-left: 2em;
        margin-bottom: 1em;
      }
      margin-bottom: 1em;
    }
    label {
      margin: 0.2em 0;
      display: block;
    }
  }
}

button#sortContactNumbers{
  display: none;
  float: right;
}
