#wrapper{
	section#content{
		width: 1020px;
		max-width: 1020px;
	}

	.inner{
		table{
			margin:0;
			width:100%;
		}
	}
}

header.page-header {
  padding-bottom:0;
}

a[data-disabled]{
	text-decoration:none;
	color: #222;
}