.tagify {
  height: 67px;
  background-color: white;
  overflow: scroll;
  padding: 5px;
  border: 1px solid #ccc;
  min-width: 550px;
}

div.tagify-input-container {
  padding: 0;
  border: 0;
  width: auto;
}

input.tagify-input {
  border: 1px solid #fff;
  width: 30px;
}
