# Google API Authentication Credentials

CLIENT_ID: CLIENT_ID_GOES_HERE
CLIENT_SECRET: CLIENT_SECRET_GOES_HERE

AUTHORIZATION_CODE: AUTHORIZATION_CODE_GOES_HERE

REFRESH_TOKEN: REFRESH_TOKEN_GOES_HERE
EXPIRES_AT: "5000"

ACCESS_TOKEN: ACCESS_TOKEN_GOES_HERE

# Spreedsheet Configuration

SPREADSHEET_TIMESHEET_TITLE: TITLE_GOES_HERE
