<% content_for :type, 'service' %>
<% content_for :title, 'Send feedback' %>

<div class="send-feedback">
  <%= render "feedbacks/form" %>
</div>

<script>
$('#feedback_text').keyup(function(){
  var charlimit = 2000,
      notice = $('#char-limit');
  
  if($(this).val().length > charlimit) {
    $(this)
      .val($(this).val().substr(0, charlimit))
      .css('outline', 'solid 3px #ff0000');
    notice.css('color', '#ff0000')
  } else {
    $(this).add(notice).removeAttr('style');
  }
});
</script>

<% if ENV['APP_PLATFORM'] == 'production' %>
<script>
  $('#feedback-form').submit(function(){
    var rating = $('input:checked').val();
    if(typeof(rating) !== "undefined" && $.trim(feedback)) {
      ga('send', 'event', 'feedback', 'rating', rating);
    }
  });
</script>
<% end %>
