= form_for [:admin, court], url: admin_court_path(court, redirect_url: postcodes_admin_courts_path), html: { class: 'js-postcode-tag-form' } do |f|
  - if court.errors.any?
    #error_explanation
      %ul
        - court.errors.full_messages.each do |msg|
          %li= msg

  = f.text_field :postcode_list, class: 'postcode js-tags'
  = f.submit 'Save', class: 'button right'
