
<fieldset>
  <%= f.association :opening_type, :include_blank => false %>
  <%= f.input :name %>
  <div class="destroy">
    <a href="#" class="remove"><span class="ui-icon ui-icon-circle-minus"></span>remove these opening times</a>
    <a href="#" class="undo"><span class="ui-icon ui-icon-arrowreturnthick-1-w"></span>keep these opening times</a>
    <%= f.check_box :_destroy %>
    <%= f.label :_destroy, "Remove this opening time" %>
  </div>
</fieldset>
<hr />
