// GOV.UK Toolkit
@import "_colours";
@import "_typography";

// Vendor
@import "gmaps4rails";

// Lib
@import "conditionals";
@import "phases";

// Application
@import "home";
@import "courts";

// Temporary fixes
article .inner {
  padding:0;
}

#footer .footer-meta nav {
  display: inline-block;
  width: 75%;
  
  p {
    font-size: 1.6rem;
  }
}

label.radio {
  padding-right: 10px;
}
