// MOJ Toolkit
@import "moj-base";
@import "modules/moj.tabs";

// GOV.UK Toolkit
@import "_colours";
@import "_typography";

// Vendor
@import "gmaps4rails";

// Lib
@import "conditionals";

// Application
@import "home";
@import "courts";
@import "feedbacks";
@import "courts-list";

// GOV.UK footer overrides

#footer {
  .footer-wrapper {
    margin: 0 auto;
    max-width: 60em;
    padding: 0;
  }

  .footer-meta {
    border: none;
    margin-top: 0;
  }
}

// MOJ Toolkit overrides
header.page-header {
  padding:1em 2em 2em;

  h1 {
    font-size:48px;
    margin-top:7px;
    margin-bottom:13px;

    .full-width & {
      margin-right:0;
    }
  }

  span {
    margin-bottom:.25em;
  }
}

// Allow for content boxes to align with phase indicator
section#content {
  max-width:1020px;
}

article .inner {
  padding:0;
}

.char-limit {
  font-size: 10px;
  color: #444444;
}
