// MOJ Toolkit
@import "moj-base";

// GOV.UK Toolkit
@import "_colours";
@import "_typography";

// Vendor
@import "gmaps4rails";

// Lib
@import "conditionals";

// Application
@import "home";
@import "courts";
@import "feedbacks";

// MOJ Toolkit overrides
header.page-header {
  padding:1em 2em 2em;

  h1 {
    font-size:48px;
    margin-top:7px;
    margin-bottom:13px;

    .full-width & {
      margin-right:0;
    }
  }

  span {
    margin-bottom:.25em;
  }
}

section#content {
  width:auto;
  max-width:1020px;
}

.indicator {
  width:auto;
  max-width:960px;
  padding:0 30px;
  p {
    padding:8px 0;
  }
}

article .inner {
  padding:0;
}

#global-breadcrumb ol {
  border-top:0;
}