// MOJ Toolkit
@import "moj-base";
@import "modules/moj.tabs";

// GOV.UK Toolkit
@import "_colours";
@import "_typography";
@import "design-patterns/_buttons";

// Vendor
@import "gmaps4rails";

// Lib
@import "conditionals";

// Application
@import "buttons";
@import "home";
@import "courts";
@import "feedbacks";
@import "courts-list";

// Shame
@import "shame_responsive";

// GOV.UK footer overrides

#footer {
  .footer-wrapper {
    margin: 0 auto;
    max-width: 60em;
    padding: 0;
  }

  .footer-meta {
    border: none;
    margin-top: 0;
  }

  .version p {
    @include core-16;
  }
}

@include media(mobile) {
  .meta-data .inner {
    padding: 1em 0;
    .modified-date {
      width: auto;
    }
  }
}

// MOJ Toolkit overrides
header.page-header {
  padding:1em 2em 2em;

  @include media(mobile) {
    padding:.5em 1em 1em;
  }

  h1 {
    font-size:48px;
    margin-top:7px;
    margin-bottom:13px;

    .full-width & {
      margin-right:0;
    }
  }

  span {
    margin-bottom:.25em;
  }
}

article{
  .inner {
    padding:0 30px;
    @include media(mobile) {
      padding:0 16px;
    }
  }
  .intro {
    padding:0 0 1em 0;
  }
}

.char-limit {
  font-size: 10px;
  color: #444444;
}

.version p{
  color: #666;
}

.warning{
  padding:8px;
  margin:10px 0;
  border: 1px solid #ffbf47;
  background-color: #fff2d3;
  .list{
    display:none;
    ul li{
      font-size:16px;
    }
  }
}

p.sub-list{
  font-size: 16px;
  a{
    text-decoration: none;
  }
  a:after{
    content: ' | ';
  }
  a:last-child:after{
    content: '';
  }
}

a{
  cursor: pointer;
}
// data-disabled links
a[data-disabled]:not([data-disabled="false"]) {
  text-decoration: none;
  color: #333;
}

.error-text{
  color:#ff0000;
  font-weight: bold;
}
