/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require gmaps4rails
 *= require courts
 *= require_self
 */

#wrapper #search {
  width: 256px;
}
#search-main {
  width: 350px;
}
#results {
  display: none;
  background: #f6f6f6;
  border: 3px solid #ffbf47;
  border-top-width: 0;
}
#results ul {
  margin: 0;
  padding: 0;
}
#results li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  font-size: 1.6rem;
}
#results a {
  display: block;
  padding: 1px 5px;
  text-decoration: none;
}

#results a:hover,
#results .selected a {
  color: #2e8aca;
  text-decoration: underline;
  background: #ddd;
}

/* Search results */
.search-results {
  padding: 0;
  list-style: none;
}
.search-results>li {
  width: 100%;
  padding: 10px;
  list-style: none;
  border: 1px solid #a1acb2;
  background: #eaedef;
  overflow: hidden;
}
.search-results .areas-of-law {
  float: right;
  padding: 0;
  text-align: right;
  width: 250px;
}
.search-results .areas-of-law li {
  display: inline;
  font-size: smaller;
  padding: 1px 3px;
  list-style: none;
  color: #fff;
  background: #d43783
}
.search-results .areas-of-law li:hover {
  background: #b41763;
}
