$gutter-width: 30px;
$grid-width: 310px;

#courts-show {
  .court-addresses, .court-photo, .court-information, .court-areas-of-law {
    float: left;
  }

  .court-addresses, .court-information {
    width: $grid-width * 2;
    margin-right: $gutter-width / 2;
    margin-bottom: 30px;
  }

  .court-photo, .court-areas-of-law {
    max-width: $grid-width;
    margin-left: $gutter-width / 2;

  }

  .court-addresses {
    background: #e6e6e6;
    min-height: 275px;

    .addresses > div {
      box-sizing: border-box;
      width: 50%;
      float: left;
      padding: 15px 30px;
    }
  }

  .court-photo {
    overflow: hidden;

    // Currently the photos are bigger than the container boxes.
    // Photos: 350px wide, container box: 310px;
    // That's why we're centring the image by nudging it 20px to the left;
    & > img {
      margin-left: -20px;
    }
  }

  .court-information {
    .court-opening-hours {
      margin-top: 0;
    }

    > h2 {
      margin-top: 1.7em;
    }

    p {
      margin: 0.15em 0;
    }
  }

  .court-areas-of-law {
    width: $grid-width;
    border-top: 10px solid #005ea5;

    > h2 {
      margin-top: 15px;
    }

    p {
      margin: 0.2em 0;
    }
  }

  .meta-data {
    margin: 4em 0 0 0;
  }
}

.facilities {

  dt {
    float:left;
    clear:left;
    width:50px;
    height:50px;
    margin:0 0 10px;
  }

  dd {
    min-height:50px; margin:0; padding:10px 0 0 60px;
  }
}

@mixin column($pos:1, $block:60px, $offset:10px) {
  left: -($offset + (($pos - 1) * $block));
}

i.icon {
  display:block; width:50px; height:50px; overflow:hidden; position:relative;

  img {
    $top-row: -10px;
    $bottom-row: -70px;

    position:absolute; top:$top-row; left:-10px; max-width:inherit !important;

    // Top row
    // &.loop_hearing -< default
    &.video_conf { top:$top-row; @include column(2); }
    &.interview { top:$top-row; @include column(3); }
    // &.eye { top:$top-row; @include column(4); }
    &.firstaid { top:$top-row; @include column(5); }
    &.waiting { top:$top-row; @include column(6); }
    &.hotspot { top:$top-row; @include column(7); }
    &.children { top:$top-row; @include column(8); }
    &.no-parking { top:$top-row; @include column(9); }

    &.disabled { top:$bottom-row; }
    &.guide_dogs { top:$bottom-row; @include column(2); }
    &.phone { top:$bottom-row; @include column(3); }
    &.disabledwc { top:$bottom-row; @include column(4); }
    &.public_toilets { top:$bottom-row; @include column(5); }
    &.baby { top:$bottom-row; @include column(6); }
    &.prayer { top:$bottom-row; @include column(7); }
    &.hot_vending { top:$bottom-row; @include column(8); }
    &.parking { top:$bottom-row; @include column(9); }
  }
}
