@charset "utf-8";
/* CSS Document */

/* Header */
#global-header #logo {position: relative; float: left; width:100%; height: 30px;margin-left:0.9em;overflow: hidden;}
@media (max-width: 640px) { #global-header #logo{ margin-left:0;} }



