$gutter-width: 30px;
$grid-width: 310px;

#courts-show {
  .court-addresses, .court-photo, .court-information, .court-areas-of-law {
    float: left;
  }

  .court-addresses, .court-information {
    width: $grid-width * 2;
    margin-right: $gutter-width / 2;
    margin-bottom: 30px;
  }

  .court-photo, .court-areas-of-law {
    max-width: $grid-width;
    margin-left: $gutter-width / 2;

  }

  .court-addresses {
    background: #e6e6e6;
    min-height: 275px;

    .addresses > div {
      box-sizing: border-box;
      width: 50%;
      float: left;
      padding: 15px;
    }
  }

  .court-photo {
    overflow: hidden;

    // Currently the photos are bigger than the container boxes.
    // Photos: 350px wide, container box: 310px;
    // That's why we're centring the image by nudging it 20px to the left;
    & > img {
      margin-left: -20px;
    }
  }

  .court-information {
    .court-opening-hours {
      margin-top: 0;
    }
  }

  .court-areas-of-law {
    border-top: 10px solid #005ea5;

    p {
      margin: 0.2em 0;
    }
  }

  .meta-data {
    margin: 4em 0 0 0;
  }
}