#wrapper {background-color: #fff;border-bottom: 10px solid #f47738;}

#courts-show #title-image {  float: right;  width: 160px;}

#writing {  width: 230px;  padding: 10px;  border: 1px solid #666;  background: #eaedef;  float: right;}

#global-header .header-wrapper .header-logo{max-width: 990px;margin: 0 auto;padding: 0.5em 15px;color:#fff;font-size: 1.8em;}

small.beta {font-size: 55%; background-color: #f47738; padding:3px; margin-left: 1em; font-weight: bold;}

#global-header .header-wrapper {padding:0;}

#global-header .header-wrapper #search {display: none;}

#global-breadcrumb nav {border-top: 10px solid #f47738;}

/*header.page-header hgroup {margin:0;}*/

#local-locator-form input#search-main {margin-left: 0;}

form.find-location-for-service {background:#eaedef url(https://assets.digital.cabinet-office.gov.uk/static/locator-icon.png) no-repeat 1em 2.7em;}
form.find-location-for-service select#area_of_law {width:285px;}
form.find-location-for-service #filters {margin-top:1em;}∫

form#directions input#from {margin:0 0 1em 0;}

.related {border-top:10px solid #f47738;}