$grey:#eaedef;

.courts {
  article .inner {
    padding:0 30px;

    h2 {
      clear:left;
      margin-bottom:0;
    }

    p {
      margin:0;
    }

    .well {
      margin-bottom:1em; padding:.5em .75em; background:$grey;
    }

    .help-notice {
      float:right; margin:1em 0; padding:.25em 50px .25em .5em; max-width:50%; background-position:98%;
    }
  }

  header.page-header {
    padding-bottom:0;
  }

  .leaflet-code {
    float:right;
  }

  .intro {
    padding:0 0 1em 0;
  }
}

#local-locator-form input#search-main {margin-left: 0;}

form.find-location-for-service {background:$grey url(https://assets.digital.cabinet-office.gov.uk/static/locator-icon.png) no-repeat 1em 2.7em;}
form.find-location-for-service select#area_of_law {width:285px;}
form.find-location-for-service #filters {margin-top:1em;}

.inner div.addresses {
  width:620px; min-height:275px; margin-left:-30px; padding-left:30px; background:$grey;
  
  .postal,
  .visit {
    width:48%; float:left;
  }
}

#court-photo { float:right; margin-right:-30px; }

form#directions input#from {margin:0 0 1em 0;}

.facilities {
  dt {
    float:left; clear:left; width:50px; height:50px; margin:0 0 10px;
  }
  dd {
    min-height:50px; margin:0; padding:10px 0 0 60px;
  }
}

@mixin column($pos:1, $block:60px, $offset:10px) {
  left: -($offset + (($pos - 1) * $block));
}

i.icon {
  display:block; width:50px; height:50px; overflow:hidden; position:relative;

  img {
    $top-row: -10px;
    $bottom-row: -70px;

    position:absolute; top:$top-row; left:-10px; max-width:inherit !important;
    
    // Top row
    // &.loop_hearing -< default
    &.video_conf { top:$top-row; @include column(2); }
    &.interview { top:$top-row; @include column(3); }
    // &.eye { top:$top-row; @include column(4); }
    &.firstaid { top:$top-row; @include column(5); }
    &.waiting { top:$top-row; @include column(6); }
    &.hotspot { top:$top-row; @include column(7); }
    &.children { top:$top-row; @include column(8); }
    &.no-parking { top:$top-row; @include column(9); }
    
    &.disabled { top:$bottom-row; }
    &.guide_dogs { top:$bottom-row; @include column(2); }
    &.phone { top:$bottom-row; @include column(3); }
    &.disabledwc { top:$bottom-row; @include column(4); }
    &.public_toilets { top:$bottom-row; @include column(5); }
    &.baby { top:$bottom-row; @include column(6); }
    &.prayer { top:$bottom-row; @include column(7); }
    &.hot_vending { top:$bottom-row; @include column(8); }
    &.parking { top:$bottom-row; @include column(9); }
  }
}

// Double icon size for Retina and print
@media print, (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  i.icon img {
    $top-row: -65px;
    $bottom-row: -120px;
    $block-size: 55px;
    $block-offset: 5px;

    width:500px; height:175px; top:$top-row; left:-5px;
    
    &.video_conf { top:$top-row; @include column(2, $block-size, $block-offset); }
    &.interview { top:$top-row; @include column(3, $block-size, $block-offset); }
    // &.eye { top:$top-row; @include column(4, $block-size, $block-offset); }
    &.firstaid { top:$top-row; @include column(5, $block-size, $block-offset); }
    &.waiting { top:$top-row; @include column(6, $block-size, $block-offset); }
    &.hotspot { top:$top-row; @include column(7, $block-size, $block-offset); }
    &.children { top:$top-row; @include column(8, $block-size, $block-offset); }
    &.no-parking { top:$top-row; @include column(9, $block-size, $block-offset); }
    
    &.disabled { top:$bottom-row; }
    &.guide_dogs { top:$bottom-row; left:-60px; }
    &.phone { top:$bottom-row; @include column(3, $block-size, $block-offset); }
    &.disabledwc { top:$bottom-row; @include column(4, $block-size, $block-offset); }
    &.public_toilets { top:$bottom-row; @include column(5, $block-size, $block-offset); }
    &.baby { top:$bottom-row; @include column(6, $block-size, $block-offset); }
    &.prayer { top:$bottom-row; @include column(7, $block-size, $block-offset); }
    &.hot_vending { top:$bottom-row; @include column(8, $block-size, $block-offset); }
    &.parking { top:$bottom-row; @include column(9, $block-size, $block-offset); }
  }
}