form.new_feedback {
  padding: 20px;
  background: #eaedef;
  fieldset {
    padding:10px;
  }
  label.radio {
    padding-right: 10px;
  }
}

p.strongnote{
  font-weight:bold;
  font-size: 16px;
  width: 70%;
}

#user-satisfaction-survey {
  position: fixed;
  height: 135px;
  width: 660px;
  top: 25%;
  left: 50%;
  margin-left: -380px;
  z-index: 10000;
  padding: 40px 50px;
  transition: top 400ms ease-in-out;

  &.not-shown {
    top: -250px;
  }

  p.survey-link-box {
    margin-top: 30px;
  }
}