form.new_feedback {
  padding: 20px;
  background: #eaedef;
  fieldset {
    padding:10px;
  }
  label.radio {
    padding-right: 10px;
  }
}

p.note{
  font-weight:bold;
  font-size: 16px;
  width: 70%;
}
