.home {
  article .inner {
    margin:0 30px;
    @include media(mobile) {
      margin:0 16px;
    }
  }

  .intro {
    margin:0;
    padding:0;
  }

  #local-locator-form {
    margin-top:0;
  }

  @include media(mobile) {
    .find-location-for-service {
      background-image: none;
    
      label {
        display: block;
        line-height: normal;
      }
    }
  }
}

#wrapper #search {
  width: 256px;
}
#search-main {
  width: 350px;
  @include media(mobile) {
    width: 100%;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
  }
}
#results {
  display: none;
  background: #f6f6f6;
  border: 3px solid #ffbf47;
  border-top-width: 0;
}
#results ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#results li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  font-size: 1.6rem;
}
#results a {
  display: block;
  padding: 1px 5px;
  text-decoration: none;
}

#results a:hover,
#results .selected a {
  color: #2e8aca;
  text-decoration: underline;
  background: #ddd;
}

/* Search results */
.search-results {
  padding: 0;
  list-style: none;
}
.search-results>li {
  width: 100%;
  padding: 10px;
  list-style: none;
  border: 1px solid #a1acb2;
  background: #eaedef;
  overflow: hidden;
}
.search-results .areas-of-law {
  float: right;
  padding: 0;
  text-align: right;
  width: 250px;
}
.search-results .areas-of-law li {
  display: inline;
  font-size: smaller;
  padding: 1px 3px;
  list-style: none;
  color: #fff;
  background: #d43783;
  white-space: nowrap;
}
.search-results .areas-of-law li:hover {
  background: #b41763;
}
