.home {

  .intro {
    margin:0;
    padding:0;
  }

  #local-locator-form {
    margin-top:0;
  }

  @include media(mobile) {
    .find-location-for-service {
      background-image: none;

      label {
        display: block;
        line-height: normal;
      }
    }
  }
}

#wrapper #search {
  width: 256px;
}
#search-main {
  width: 350px;
  @include media(mobile) {
    width: 100%;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
  }
}
#results {
  display: none;
  background: #f6f6f6;
  border: 3px solid #ffbf47;
  border-top-width: 0;
  z-index:4000;
}
#results ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#results li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  font-size: 1.6rem;
}
#results a {
  display: block;
  padding: 1px 5px;
  text-decoration: none;
}

#results a:hover,
#results .selected a {
  color: #2e8aca;
  text-decoration: underline;
  background: #ddd;
}

.money-claims-bulk-information {
  margin-top: 30px;
  margin-bottom: 30px;
}

.search-results {
  padding: 0;
  list-style-image: none;
}

.search-results .court-name-and-address {
  float: left;
}

.search-results li, .court-money-claims-bulk-centre {
  // width: 100%;
  padding: 10px;
  list-style: none;
  border: 1px solid #a1acb2;
  background: #eaedef;
  overflow: hidden;
}
.search-results .areas-of-law {
  float: right;
  display: block;
  margin-right: 10px;
  padding: 10px;
  width: 250px;
}
.search-results .areas-of-law li {
  background: #6f777b;
  color: #fff;
  border: 1px solid #6f777b;
  font-size: smaller;
  padding: 1px 3px;
  margin: 0.1em 0.5em;
  list-style-image: none;
  white-space: nowrap;
}

.search-results a.court-title, .court-money-claims-bulk-centre a.court-title {
  font-weight: bold;
  font-size: 19px;
}

.search-results .search-related-information {
  margin-top: 1.2em;
}

.details-link {
  display: block;
  margin-top: 0.4em;
  width:6em;
}

select{
  border: 1px solid #bfc1c3;
  padding: 4px 20px 5px 10px;
  background: #fff;
  background-image: url(/assets/dropdown-arrow.png);
  background-repeat: no-repeat;
  background-position: right center;
  -webkit-box-shadow: 1px 1px 1px #fff;
  -moz-box-shadow: 1px 1px 1px #fff;
  box-shadow: 1px 1px 1px #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
}
