.hidden-print {
  display:none;
}

.visible-print {
  display:inherit;
}

.print-no-page-break {
  page-break-inside: avoid;
}

// Stuff to hide
#courts-show, 
#courts-information, 
#courts-defence, 
#courts-prosecution {
  #global-header {
    display:none;
  }

  h1:after {
    content:none; // remove "GOV.UK" from the leaflets
  }

  h2 {
    font-size:19pt;
    border-bottom:1pt solid #000;
  }
}

section#content {
  max-width:none;

  hgroup {
    padding:0;
  }

  h1 {
    width:auto;
  }
}

#courts-show {
  div.inner > div {
    float: none;
    display: block;
    width: 100%;
  }

  .court-addresses {
    margin: 0;
    padding: 0;
    margin-bottom: 5mm;
    height: auto;
    min-height: inherit;
    overflow: hidden;

    .addresses > div {
      margin: 0;
      padding: 0;
      width: 50%;
    }
  }
}

.lte-ie8 {
  .facilities-header {
    page-break-before: always;    
  }

  .facilities {
  }

  .court-location-wrapper {
    page-break-before: always;
  }  
}
