---
http_interactions:
- request:
    method: get
    uri: http://mapit.mysociety.org/postcode/SW1H9AJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Tue, 05 Aug 2014 08:47:36 GMT
      X-Url:
      - "/postcode/SW1H9AJ"
    body:
      encoding: UTF-8
      string: '{"wgs84_lat": 51.49986133446243, "coordsyst": "G", "shortcuts": {"WMC":
        65759, "ward": 8569, "council": 2504}, "wgs84_lon": -0.1350066886694551, "postcode":
        "SW1H 9AJ", "easting": 529548, "areas": {"900000": {"parent_area": null, "generation_high":
        19, "all_names": {}, "id": 900000, "codes": {}, "name": "House of Commons",
        "country": "", "type_name": "UK Parliament", "generation_low": 1, "country_name":
        "-", "type": "WMP"}, "900001": {"parent_area": null, "generation_high": 22,
        "all_names": {}, "id": 900001, "codes": {}, "name": "European Parliament",
        "country": "", "type_name": "European Parliament", "generation_low": 1, "country_name":
        "-", "type": "EUP"}, "105250": {"parent_area": null, "generation_high": 22,
        "all_names": {}, "id": 105250, "codes": {"ons": "E01004731"}, "name": "Westminster
        020A", "country": "E", "type_name": "Lower Layer Super Output Area (Generalised)",
        "generation_low": 13, "country_name": "England", "type": "OLG"}, "42052":
        {"parent_area": null, "generation_high": 22, "all_names": {}, "id": 42052,
        "codes": {"ons": "E02000979"}, "name": "Westminster 020", "country": "E",
        "type_name": "Middle Layer Super Output Area (Generalised)", "generation_low":
        13, "country_name": "England", "type": "OMG"}, "900006": {"parent_area": null,
        "generation_high": 22, "all_names": {}, "id": 900006, "codes": {}, "name":
        "London Assembly", "country": "E", "type_name": "London Assembly area", "generation_low":
        1, "country_name": "England", "type": "LAS"}, "2247": {"parent_area": null,
        "generation_high": 22, "all_names": {}, "id": 2247, "codes": {"unit_id": "41441"},
        "name": "Greater London Authority", "country": "E", "type_name": "Greater
        London Authority", "generation_low": 1, "country_name": "England", "type":
        "GLA"}, "2504": {"parent_area": null, "generation_high": 22, "all_names":
        {}, "id": 2504, "codes": {"ons": "00BK", "gss": "E09000033", "unit_id": "11164"},
        "name": "Westminster City Council", "country": "E", "type_name": "London borough",
        "generation_low": 1, "country_name": "England", "type": "LBO"}, "34858": {"parent_area":
        null, "generation_high": 22, "all_names": {}, "id": 34858, "codes": {"ons":
        "E02000979"}, "name": "Westminster 020", "country": "E", "type_name": "Middle
        Layer Super Output Area (Full)", "generation_low": 13, "country_name": "England",
        "type": "[...]
