{"http_interactions":[{"request":{"method":"get","uri":"http://mapit.service.dsd.io/postcode/SE240NG","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Proxy-Connection":["Keep-Alive"], "Content-Type":["application/json; charset=utf-8"], "Last-Modified":["Mon, 10 Mar 2014 16:41:32 GMT"], "X-Url":["/postcode/SE240NG"]},"body":{"encoding":"UTF-8","string":"{\"wgs84_lat\": 51.452776214191921, \"coordsyst\": \"G\", \"shortcuts\": {\"WMC\": 65808, \"ward\": 8315, \"council\": 2490}, \"wgs84_lon\": -0.10301577492537416, \"postcode\": \"SE24 0NG\", \"easting\": 531906, \"areas\": {\"900000\": {\"parent_area\": null, \"generation_high\": 19, \"all_names\": {}, \"id\": 900000, \"codes\": {}, \"name\": \"House of Commons\", \"country\": \"\", \"type_name\": \"UK Parliament\", \"generation_low\": 1, \"country_name\": \"-\", \"type\": \"WMP\"}, \"900001\": {\"parent_area\": null, \"generation_high\": 21, \"all_names\": {}, \"id\": 900001, \"codes\": {}, \"name\": \"European Parliament\", \"country\": \"\", \"type_name\": \"European Parliament\", \"generation_low\": 1, \"country_name\": \"-\", \"type\": \"EUP\"}, \"900002\": {\"parent_area\": 900006, \"generation_high\": 21, \"all_names\": {}, \"id\": 900002, \"codes\": {}, \"name\": \"London Assembly\", \"country\": \"E\", \"type_name\": \"London Assembly area (shared)\", \"generation_low\": 1, \"country_name\": \"England\", \"type\": \"LAE\"}, \"900006\": {\"parent_area\": null, \"generation_high\": 21, \"all_names\": {}, \"id\": 900006, \"codes\": {}, \"name\": \"London Assembly\", \"country\": \"E\", \"type_name\": \"London Assembly area\", \"generation_low\": 1, \"country_name\": \"England\", \"type\": \"LAS\"}, \"2247\": {\"parent_area\": null, \"generation_high\": 21, \"all_names\": {}, \"id\": 2247, \"codes\": {\"unit_id\": \"41441\"}, \"name\": \"Greater London Authority\", \"country\": \"E\", \"type_name\": \"Greater London Authority\", \"generation_low\": 1, \"country_name\": \"England\", \"type\": \"GLA\"}, \"103593\": {\"parent_area\": null, \"generation_high\": 21, \"all_names\": {}, \"id\": 103593, \"codes\": {\"ons\": \"E01003074\"}, \"name\": \"Lambeth 018E\", \"country\": \"E\", \"type_name\": \"Lower Layer Super Output Area (Generalised)\", \"generation_low\": 13, \"country_name\": \"England\", \"type\": \"OLG\"}, \"41708\": {\"parent_area\": null, \"generation_high\": 21, \"all_names\": {}, \"id\": 41708, \"codes\": {\"ons\": \"E02000635\"}, \"name\": \"Lambeth 018\", \"country\": \"E\", \"type_name\": \"Middle Layer Super Output Area (Generalised)\", \"generation_low\": 13, \"country_name\": \"England\", \"type\": \"OMG\"}, \"11822\": {\"parent_area\": 2247, \"generation_high\": 21, \"all_names\": {}, \"id\": 11822, \"codes\": {\"gss\": \"E32000010\", \"unit_id\": \"41446\"}, \"name\": \"Lambeth and Southwark\", \"country\": \"E\", \"type_name\": \"London Assembly constituency\", \"generation_low\": 1, \"country_name\": \"England\", \"type\": \"LAC\"}, \"65808\": {\"parent_area\": null, \"generation_high\": 21, \"all_names\": {}, \"id\": 65808, \"codes\": {\"gss\": \"E14000673\", \"unit_id\": \"25031\"}, \"name\": \"Dulwich and West Norwood\", \"country\": \"E\", \"type_name\": \"UK Parliament constituency\", \"generation_low\[...]
[...]
{"request":{"method":"get","uri":"http://mapit.service.dsd.io/postcode/SE240NG","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Proxy-Connection":["Keep-Alive"], "Content-Type":["application/json; charset=utf-8"], "Last-Modified":["Thu, 01 May 2014 11:45:46 GMT"]},"body":{"encoding":"UTF-8","string":"{\n    \"debug_db_queries\": [\n        {\n            \"time\": \"0.007\",\n            \"sql\": \"SELECT \\\"mapit_postcode\\\".\\\"id\\\", \\\"mapit_postcode\\\".\\\"postcode\\\", \\\"mapit_postcode\\\".\\\"location\\\" FROM \\\"mapit_postcode\\\" WHERE \\\"mapit_postcode\\\".\\\"postcode\\\" = E'SE240NG' \"\n        },\n        {\n            \"time\": \"0.001\",\n            \"sql\": \"SELECT \\\"mapit_generation\\\".\\\"id\\\", \\\"mapit_generation\\\".\\\"active\\\", \\\"mapit_generation\\\".\\\"created\\\", \\\"mapit_generation\\\".\\\"description\\\" FROM \\\"mapit_generation\\\" W[...]
[...]
