{"http_interactions":[{"request":{"method":"get","uri":"http://mapit.mysociety.org/postcode/NE12","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":400,"message":"BAD REQUEST"},"headers":{"Proxy-Connection":["Keep-Alive"], "Content-Type":["application/json; charset=utf-8"], "X-Url":["/postcode/NE12"]},"body":{"encoding":"UTF-8","string":"{\"code\": 400, \"error\": \"Postcode 'NE12' is not valid.\"}"},"http_version":null},"recorded_at":"Wed, 12 Mar 2014 16:37:21 GMT"},{"request":{"method":"get","uri":"http://mapit.mysociety.org/postcode/partial/NE12","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Proxy-Connection":["Keep-Alive"], "Content-Type":["application/json; charset=utf-8"], "Last-Modified":["Wed, 05 Mar 2014 14:19:00 GMT"], "X-Url":["/postcode/partial/NE12"]},"body":{"encoding":"UTF-8","string":"{\"wgs84_lat\": 55.023629315785413, \"coordsyst\": \"G\", \"wgs84_lon\": -1.570239248357352, \"postcode\": \"N E12\", \"easting\": 427574, \"northing\": 569983}"},"http_version":null},"recorded_at":"Wed, 12 Mar 2014 16:37:21 GMT"},{"request":{"method":"get","uri":"http://mapit.mysociety.org/postcode/EX1","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":400,"message":"BAD REQUEST"},"headers":{"Proxy-Connection":["Keep-Alive"], "Content-Type":["application/json; charset=utf-8"], "X-Url":["/postcode/EX1"]},"body":{"encoding":"UTF-8","string":"{\"code\": 400, \"error\": \"Postcode 'EX1' is not valid.\"}"},"http_version":null},"recorded_at":"Wed, 12 Mar 2014 16:39:40 GMT"},[...]
{"request":{"method":"get","uri":"http://mapit.mysociety.org/postcode/partial/NE12","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Proxy-Connection":["Keep-Alive"], "Content-Type":["application/json; charset=utf-8"], "Last-Modified":["Wed, 05 Mar 2014 08:38:34 GMT"], "X-Url":["/postcode/partial/NE12"]},"body":{"encoding":"UTF-8","string":"{\"wgs84_lat\": 55.023629315785413, \"coordsyst\": \"G\", \"wgs84_lon\": -1.570239248357352, \"postcode\": \"N E12\", \"easting\": 427574, \"northing\": 569983}"},"http_version":null},"recorded_at":"Fri, 21 Mar 2014 16:44:15 GMT"}],"recorded_with":"VCR 2.8.0"}