---
http_interactions:
- request:
    method: get
    uri: http://mapit.service.dsd.io/postcode/partial/EX1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 16 May 2014 15:32:58 GMT
    body:
      encoding: UTF-8
      string: '{"wgs84_lat": 50.72657296475395, "coordsyst": "G", "wgs84_lon": -3.506208097290785,
        "postcode": "EX1", "easting": 293786, "northing": 92966}'
  recorded_at: Fri, 16 May 2014 15:32:58 GMT
- request:
    method: get
    uri: http://mapit.service.dsd.io/postcode/partial/NE12
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 16 May 2014 15:13:02 GMT
    body:
      encoding: UTF-8
      string: '{"wgs84_lat": 55.023797320303906, "coordsyst": "G", "wgs84_lon": -1.5703469737141635,
        "postcode": "N E12", "easting": 427567, "northing": 570002}'
  recorded_at: Fri, 16 May 2014 15:33:07 GMT
[...]
- request:
    method: get
    uri: http://mapit.mysociety.org/postcode/partial/NE12
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 16 May 2014 13:16:46 GMT
      Content-Type:
      - application/json; charset=utf-8
      X-Url:
      - /postcode/partial/NE12
    body:
      encoding: UTF-8
      string: '{"wgs84_lat": 55.02362931578541, "coordsyst": "G", "wgs84_lon": -1.570239248357352,
        "postcode": "N E12", "easting": 427573, "northing": 569981}'
  recorded_at: Fri, 16 May 2014 15:34:11 GMT
[...]
- request:
    method: get
    uri: http://mapit.mysociety.org/postcode/partial/EX1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 07 May 2014 20:41:03 GMT
      Content-Type:
      - application/json; charset=utf-8
      X-Url:
      - /postcode/partial/EX1
    body:
      encoding: UTF-8
      string: '{"wgs84_lat": 50.726516170983594, "coordsyst": "G", "wgs84_lon": -3.508147631477456,
        "postcode": "EX1", "easting": 293652, "northing": 92969}'
  recorded_at: Fri, 16 May 2014 15:34:18 GMT
recorded_with: VCR 2.8.0
