---
http_interactions:
- request:
    method: get
    uri: http://mapit.mysociety.org/postcode/partial/EX1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 07 May 2014 20:41:03 GMT
      Content-Type:
      - application/json; charset=utf-8
      X-Url:
      - /postcode/partial/EX1
    body:
      encoding: UTF-8
      string: '{"wgs84_lat": 50.726516170983594, "coordsyst": "G", "wgs84_lon": -3.508147631477456,
        "postcode": "EX1", "easting": 293652, "northing": 92969}'
  recorded_at: Fri, 16 May 2014 13:32:53 GMT
- request:
    method: get
    uri: http://mapit.mysociety.org/postcode/partial/NE12
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 06 May 2014 14:24:52 GMT
      Content-Type:
      - application/json; charset=utf-8
      X-Url:
      - /postcode/partial/NE12
    body:
      encoding: UTF-8
      string: '{"wgs84_lat": 55.02362931578541, "coordsyst": "G", "wgs84_lon": -1.570239248357352,
        "postcode": "N E12", "easting": 427573, "northing": 569981}'
  recorded_at: Fri, 16 May 2014 13:33:09 GMT
- request:
    method: get
    uri: http://mapit.mysociety.org/postcode/partial/NE12
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 16 May 2014 13:16:46 GMT
      Content-Type:
      - application/json; charset=utf-8
      X-Url:
      - /postcode/partial/NE12
    body:
      encoding: UTF-8
      string: '{"wgs84_lat": 55.02362931578541, "coordsyst": "G", "wgs84_lon": -1.570239248357352,
        "postcode": "N E12", "easting": 427573, "northing": 569981}'
  recorded_at: Fri, 16 May 2014 13:33:10 GMT
recorded_with: VCR 2.8.0
