{"http_interactions":[{"request":{"method":"get","uri":"http://ec2-54-72-85-21.eu-west-1.compute.amazonaws.com/postcode/NE12","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":400,"message":"BAD REQUEST"},"headers":{"Proxy-Connection":["Keep-Alive"], "Content-Type":["application/json; charset=utf-8"], "X-Url":["/postcode/NE12"]},"body":{"encoding":"UTF-8","string":"{\"code\": 400, \"error\": \"Postcode 'NE12' is not valid.\"}"},"http_version":null},"recorded_at":"Wed, 12 Mar 2014 16:37:21 GMT"},{"request":{"method":"get","uri":"http://ec2-54-72-85-21.eu-west-1.compute.amazonaws.com/postcode/partial/NE12","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Proxy-Connection":["Keep-Alive"], "Content-Type":["application/json; charset=utf-8"], "Last-Modified":["Wed, 05 Mar 2014 14:19:00 GMT"], "X-Url":["/postcode/partial/NE12"]},"body":{"encoding":"UTF-8","string":"{\"wgs84_lat\": 55.023629315785413, \"coordsyst\": \"G\", \"wgs84_lon\": -1.570239248357352, \"postcode\": \"N E12\", \"easting\": 427574, \"northing\": 569983}"},"http_version":null},"recorded_at":"Wed, 12 Mar 2014 16:37:21 GMT"},{"request":{"method":"get","uri":"http://ec2-54-72-85-21.eu-west-1.compute.amazonaws.com/postcode/EX1","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":400,"message":"BAD REQUEST"},"headers":{"Proxy-Connection":["Keep-Alive"], "Content-Type":["application/json; charset=utf-8"], "X-Url":["/postcode/EX1"]},"body":{"encoding":"UTF-8","string":"{\"code\": 400, \"error\": \"Postcode 'EX1' is not valid.\"}"},"http_version":null},"recorded_at":"Wed, 12 Mar 2014 16:39:40 GMT"},[...]
{"request":{"method":"get","uri":"http://ec2-54-72-85-21.eu-west-1.compute.amazonaws.com/postcode/EX1","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":400,"message":"BAD REQUEST"},"headers":{"Proxy-Connection":["Keep-Alive"], "Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\n    \"code\": 400,\n    \"debug_db_queries\": [],\n    \"error\": \"Postcode 'EX1' is not valid.\"\n}"},"http_version":null},"recorded_at":"Thu, 01 May 2014 11:45:53 GMT"},[...]
{"request":{"method":"get","uri":"http://ec2-54-72-85-21.eu-west-1.compute.amazonaws.com/postcode/partial/NE12","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Proxy-Connection":["Keep-Alive"], "Content-Type":["application/json; charset=utf-8"], "Last-Modified":["Thu, 01 May 2014 11:45:57 GMT"]},"body":{"encoding":"UTF-8","string":"{\n    \"wgs84_lat\": 55.023797320303935,\n    \"coordsyst\": \"G\",\n    \"wgs84_lon\": -1.5703469737141624,\n    \"postcode\": \"N E12\",\n    \"easting\": 427567,\n    \"debug_db_queries\": [\n        {\n            \"time\": \"0.220\",\n            \"sql\": \"SELECT ST_Collect(\\\"mapit_postcode\\\".\\\"location\\\") AS \\\"geoagg\\\" FROM \\\"mapit_postcode\\\" WHERE (\\\"mapit_postcode\\\".\\\"postcode\\\"::text LIKE E'NE12%'  AND length(postcode) = 7)\"\n        }\n    ],\n    \"northing\": 570002\n}"},"http_version":null},"recorded_at":"Thu, 01 May 2014 11:45:57 GMT"},[...]
{"request":{"method":"get","uri":"http://ec2-54-72-85-21.eu-west-1.compute.amazonaws.com/postcode/partial/NE12","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Proxy-Connection":["Keep-Alive"], "Content-Type":["application/json; charset=utf-8"], "Last-Modified":["Thu, 01 May 2014 11:45:57 GMT"]},"body":{"encoding":"UTF-8","string":"{\n    \"wgs84_lat\": 55.023797320303935,\n    \"coordsyst\": \"G\",\n    \"wgs84_lon\": -1.5703469737141624,\n    \"postcode\": \"N E12\",\n    \"easting\": 427567,\n    \"debug_db_queries\": [\n        {\n            \"time\": \"0.221\",\n            \"sql\": \"SELECT ST_Collect(\\\"mapit_postcode\\\".\\\"location\\\") AS \\\"geoagg\\\" FROM \\\"mapit_postcode\\\" WHERE (\\\"mapit_postcode\\\".\\\"postcode\\\"::text LIKE E'NE12%'  AND length(postcode) = 7)\"\n        }\n    ],\n    \"northing\": 570002\n}"},"http_version":null},"recorded_at":"Thu, 01 May 2014 11:45:57 GMT"}],"recorded_with":"VCR 2.8.0"}