---
http_interactions:
- request:
    method: :get
    uri: http://mapit.mysociety.org/postcode/NE12+8AQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: Ok
    headers:
      content-type:
      - text/html;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"wgs84_lat": 55.019046034198688, "coordsyst": "G", "shortcuts": {"WMC": 65720, "ward": 9168, "council": 2530}, "wgs84_lon": -1.5682362998007071, "postcode": "NE12 8AQ", "easting": 427705, "areas": {"900000": {"parent_area": null, "generation_high": 19, "all_names": {}, "id": 900000, "codes": {}, "name": "House of Commons", "country": "", "type_name": "UK Parliament", "generation_low": 1, "country_name": "-", "type": "WMP"}, "900001": {"parent_area": null, "generation_high": 21, "all_names": {}, "id": 900001, "codes": {}, "name": "European Parliament", "country": "", "type_name": "European Parliament", "generation_low": 1, "country_name": "-", "type": "EUP"}, "2530": {"parent_area": null, "generation_high": 21, "all_names": {}, "id": 2530, "codes": {"ons": "00CK", "gss": "E08000022", "unit_id": "9699"}, "name": "North Tyneside Borough Council", "country": "E", "type_name": "Metropolitan district", "generation_low": 1, "country_name": "England", "type": "MTD"}, "11812": {"parent_area": null, "generation_high": 21, "all_names": {}, "id": 11812, "codes": {"ons": "01", "gss": "E15000001", "unit_id": "41422"}, "name": "North East", "country": "E", "type_name": "European region", "generation_low": 1, "country_name": "England", "type": "EUR"}, "42824": {"parent_area": null, "generation_high"[...]
