{"http_interactions":[{"request":{"method":"get","uri":"http://mapit.service.dsd.io/postcode/SE1+9NH","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Proxy-Connection":["Keep-Alive"], "Content-Type":["application/json; charset=utf-8"], "Last-Modified":["Wed, 05 Mar 2014 14:19:03 GMT"], "X-Url":["/postcode/SE1+9NH"]},"body":{"encoding":"UTF-8","string":"{\"wgs84_lat\": 51.506518389962785, \"coordsyst\": \"G\", \"shortcuts\": {\"WMC\": 65825, \"ward\": 8316, \"council\": 2490}, \"wgs84_lon\": -0.1098483864851184, \"postcode\": \"SE1 9NH\", \"easting\": 531277, \"areas\": {\"900000\": {\"parent_area\": null, \"generation_high\": 19, \"all_names\": {}, \"id\": 900000, \"codes\": {}, \"name\": \"House of Commons\", \"country\": \"\", \"type_name\": \"UK Parliament\", \"generation_low\": 1, \"country_name\": \"-\", \"type\": \"WMP\"}, \"34497\": {\"parent_area\": null, \"generation_high\": 21, \"all_names\": {}, \"id\": 34497, \"codes\": {\"ons\": \"E02000618\"}, \"name\": \"Lambeth 001\", \"country\": \"E\", \"type_name\": \"Middle Layer Super Output Area (Full)\", \"generation_low\": 13, \"country_name\": \"England\", \"type\": \"OMF\"}, \"900002\": {\"parent_area\": 900006, \"generation_high\": 21, \"all_names\": {}, \"id\": 900002, \"codes\": {}, \"name\": \"London Assembly\", \"country\": \"E\", \"type_name\": \"London Assembly area (shared)\", \"generation_low\": 1, \"country_name\": \"England\", \"type\": \"LAE\"}, \"69157\": {\"parent_area\": null, \"generation_high\": 21, \"all_names\": {}, \"id\": 69157, \"codes\": {\"ons\": \"E01003016\"}, \"name\": \"Lambeth 001D\", \"country\": \"E\", \"type_name\": \"Lower Layer Super Output Area (Full)\", \"generation_low\": 13, \"country_name\": \"England\", \"type\": \"OLF\"}, \"900006\": {\"parent_area\": null, \"generation_high\": 21, \"all_names\": {}, \"id\": 900006, \"codes\": {}, \"name\": \"London Assembly\", \"country\": \"E\", \"type_name\": \"London Assembly area\", \"generation_low\": 1, \"country_name\": \"England\", \"type\": \"LAS\"}, \"2247\": {\"parent_area\": null, \"generation_high\": 21, \"all_names\": {}, \"id\": 2247, \"codes\": {\"unit_id\": \"41441\"}, \"name\": \"Greater London Authority\", \"country\": \"E\", \"type_name\": \"Greater London Authority\", \"generation_low\": 1, \"country_name\": \"England\", \"type\": \"GLA\"}, \"65825\": {\"parent_area\": null, \"generation_high\": 21, \"all_names\": {}, \"id\": 65825, \"codes\": {\"gss\": \"E14001008\", \"unit_id\": \"25036\"}, \"name\": \"Vauxhall\", \"country\": \"E\", \"type_name\": \"UK Parliament constituency\", \"generation_low\": 13, \"country_name\": \"England\", \"type\": \"WMC\"}, \"11822\": {\"parent_area\": 2247, \"generation_high\": 21, \"all_names\": {}, \"id\": 11822, \"codes\": {\"gss\": \"E32000010\", \"unit_id\": \"41446\"}, \"name\": \"Lambeth and Southwark\", \"country\": \"E\", \"type_name\": \"London Assembly constituency\", \"generation_low\": 1, \"country[...]
{"request":{"method":"get","uri":"http://mapit.service.dsd.io/postcode/NE12+8AQ","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Proxy-Connection":["Keep-Alive"], "Content-Type":["application/json; charset=utf-8"], "Last-Modified":["Wed, 05 Mar 2014 09:11:13 GMT"], "X-Url":["/postcode/NE12+8AQ"]},"body":{"encoding":"UTF-8","string":"{\"wgs84_lat\": 55.019046034198688, \"coordsyst\": \"G\", \"shortcuts\": {\"WMC\": 65720, \"war[...]
{"request":{"method":"get","uri":"http://mapit.service.dsd.io/postcode/SE24+0NG","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Proxy-Connection":["Keep-Alive"], "Content-Type":["application/json; charset=utf-8"], "Last-Modified":["Wed, 12 Mar 2014 03:16:24 GMT"], "X-Url":["/postcode/SE24+0NG"]},"body":{"encoding":"UTF-8","string":"{\"wgs84_lat\": 51.452776214191921, \"coordsyst\": \"G\", \"shortcuts\": {\"WMC\": 65808, \"war[...]
{"request":{"method":"get","uri":"http://mapit.service.dsd.io/postcode/EX1+1UH","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Proxy-Connection":["Keep-Alive"], "Content-Type":["application/json; charset=utf-8"], "Last-Modified":["Fri, 07 Mar 2014 01:51:07 GMT"], "X-Url":["/postcode/EX1+1UH"]},"body":{"encoding":"UTF-8","string":"{\"wgs84_lat\": 50.721320433600503, \"coordsyst\": \"G\", \"shortcuts\": {\"WMC\": 66033, \"ward\": {\"county\": 14749, \"district\": 3775}, \"council\": {\"county\": 2249, \"district\": 2290}}, \"wgs84_lon\": -3.5250755232628328, \"postcode\": \"EX1 1UH\", \"easting\": 292442, \"areas\": {\"900000\": {\"parent_area\": null, \"generation_high\": 19, \"all_names\": {}, \"id\": 900000, \"codes\": {}, \"name\": \"House of Commons\", \"country\": \"\", \"type_name\": \"UK Parliament\", \"generation_low\": 1, \"country_name\": \"-\", \"type\": \"WMP\"}, \"900001\": {\"parent_area\": null, \"generation_high\": 21, \"all_names\": {}[...]
{"request":{"method":"get","uri":"http://mapit.service.dsd.io/postcode/SE240NG","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Proxy-Connection":["Keep-Alive"], "Content-Type":["application/json; charset=utf-8"], "Last-Modified":["Mon, 10 Mar 2014 16:41:32 GMT"], "X-Url":["/postcode/SE240NG"]},"body":{"encoding":"UTF-8","string":"{\"wgs84_lat\": 51.452776214191921, \"coordsyst\": \"G\", \"shortcuts\": {\"WMC\": 65808, \"ward\[...]
[...]
{"request":{"method":"get","uri":"http://mapit.service.dsd.io/postcode/NE128AQ","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Proxy-Connection":["Keep-Alive"], "Content-Type":["application/json; charset=utf-8"], "Last-Modified":["Tue, 04 Mar 2014 18:29:18 GMT"], "X-Url":["/postcode/NE128AQ"]},"body":{"encoding":"UTF-8","string":"{\"wgs84_lat\": 55.019046034198688, \"coordsyst\": \"G\", \"shortcuts\": {\"WMC\": 65720, \"ward\[...]
{"request":{"method":"get","uri":"http://mapit.service.dsd.io/postcode/SE19NH","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Proxy-Connection":["Keep-Alive"], "Content-Type":["application/json; charset=utf-8"], "Last-Modified":["Tue, 04 Mar 2014 18:29:29 GMT"], "X-Url":["/postcode/SE19NH"]},"body":{"encoding":"UTF-8","string":"{\"wgs84_lat\": 51.506518389962785, \"coordsyst\": \"G\", \"shortcuts\": {\"WMC\": 65825, \"ward\":[...]
{"request":{"method":"get","uri":"http://mapit.service.dsd.io/postcode/SW1H9AJ","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Proxy-Connection":["Keep-Alive"], "Content-Type":["application/json; charset=utf-8"], "Last-Modified":["Wed, 12 Mar 2014 23:48:25 GMT"], "X-Url":["/postcode/SW1H9AJ"]},"body":{"encoding":"UTF-8","string":"{\"wgs84_lat\": 51.499862009193997, \"coordsyst\": \"G\", \"shortcuts\": {\"WMC\": 65759, \"ward\[...]
{"request":{"method":"get","uri":"http://mapit.service.dsd.io/postcode/sl58le","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Proxy-Connection":["Keep-Alive"], "Content-Type":["application/json; charset=utf-8"], "Last-Modified":["Wed, 12 Mar 2014 13:48:17 GMT"], "X-Url":["/postcode/sl58le"]},"body":{"encoding":"UTF-8","string":"{\"wgs84_lat\": 51.419488624658548, \"coordsyst\": \"G\", \"shortcuts\": {\"WMC\": 65552, \"ward\":[...]
[...]
{"request":{"method":"get","uri":"http://mapit.service.dsd.io/postcode/EH22+4AD","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Proxy-Connection":["Keep-Alive"], "Content-Type":["application/json; charset=utf-8"], "Last-Modified":["Wed, 12 Mar 2014 23:29:23 GMT"], "X-Url":["/postcode/EH22+4AD"]},"body":{"encoding":"UTF-8","string":"{\"wgs84_lat\": 55.866862801264588, \"coordsyst\": \"G\", \"shortcuts\": {\"WMC\": 14441, \"war[...]
[...]
{"request":{"method":"get","uri":"http://mapit.service.dsd.io/postcode/CR0+2RB","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Proxy-Connection":["Keep-Alive"], "Content-Type":["application/json; charset=utf-8"], "Last-Modified":["Thu, 13 Mar 2014 00:21:17 GMT"], "X-Url":["/postcode/CR0+2RB"]},"body":{"encoding":"UTF-8","string":"{\"wgs84_lat\": 51.378314817030493, \"coordsyst\": \"G\", \"shortcuts\": {\"WMC\": 65603, \"ward\[...]
[...]
{"request":{"method":"get","uri":"http://mapit.service.dsd.io/postcode/SE19NH","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Proxy-Connection":["Keep-Alive"], "Content-Type":["application/json; charset=utf-8"], "Last-Modified":["Thu, 01 May 2014 11:45:36 GMT"]},"body":{"encoding":"UTF-8","string":"{\n    \"debug_db_queries\": [\n        {\n            \"time\": \"0.007\",\n            \"sql\": \"SELECT \\\"mapit_postcode\\\".\\\"id\\\", \\\"mapit_postcode\\\".\\\"postcode\\\", \\\"mapit_postcode\\\".\\\"location\\\" FROM \\\"mapit_postcode\\\" WHERE \\\"mapit_postcode\\\".\\\"postcode\\\" = E'SE19NH' \"\n        },\n        {\n            \"time\": \"0.001\",\n            \"sql\": \"SELECT \\\"mapit_generation\\\".\\\"id\\\", \\\"mapit_generation\\\".\\\"active\\\", \\\"mapit_generation\\\".\\\"created\\\", \\\"mapit_generation\\\".\\\"description\\\" FROM \\\"mapit_generation\\\" WH[...]
[...]
