{"http_interactions":[{"request":{"method":"get","uri":"http://ec2-54-72-85-21.eu-west-1.compute.amazonaws.com/postcode/YO6","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":400,"message":"BAD REQUEST"},"headers":{"Proxy-Connection":["Keep-Alive"], "Content-Type":["application/json; charset=utf-8"], "X-Url":["/postcode/YO6"]},"body":{"encoding":"UTF-8","string":"{\"code\": 400, \"error\": \"Postcode 'YO6' is not valid.\"}"},"http_version":null},"recorded_at":"Wed, 12 Mar 2014 16:37:22 GMT"},{"request":{"method":"get","uri":"http://ec2-54-72-85-21.eu-west-1.compute.amazonaws.com/postcode/partial/YO6","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":404,"message":"NOT FOUND"},"headers":{"Proxy-Connection":["Keep-Alive"], "Content-Type":["application/json; charset=utf-8"], "X-Url":["/postcode/partial/YO6"]},"body":{"encoding":"UTF-8","string":"{\"code\": 404, \"error\": \"Postcode not found\"}"},"http_version":null},"recorded_at":"Wed, 12 Mar 2014 16:37:22 GMT"},{"request":{"method":"get","uri":"http://ec2-54-72-85-21.eu-west-1.compute.amazonaws.com/postcode/invalid","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":400,"message":"BAD REQUEST"},"headers":{"Proxy-Connection":["Keep-Alive"], "Content-Type":["application/json; charset=utf-8"], "X-Url":["/postcode/invalid"]},"body":{"encoding":"UTF-8","string":"{\"code\": 400, \"error\": \"Postcode 'INVALID' is not valid.\"}"},"http_version":null},"recorded_at":"Wed, 12 Mar 2014 16:39:39 GMT"},{"request":{"method":"get","uri":"http://ec2-54-72-85-21.eu-west-1.compute.amazonaws.com/postcode/NE128AQ","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Proxy-Connection":["Keep-Alive"], "Content-Type":["application/json; charset=utf-8"], "Last-Modified":["Tue, 04 Mar 2014 18:29:18 GMT"], "X-Url":["/postcode/NE128AQ"]},"body":{"encoding":"UTF-8","string":"{\"wgs84_lat\": 55.019046034198688, \"coordsyst\": \"G\", \"shortcuts\": {\"WMC\": 65720, \"ward\": 9168, \"council\": 2530}, \"wgs84_lon\": -1.5682362998007071, \"postcode\": \"NE12 8AQ\", \"easting\": 427705, \"areas\": {\"900000\": {\"parent_area\": null, \"generation_high\": 19, \"all_names\": {}, \"id\": 900000, \"codes\": {}, \"name\": \"House of Commons\", \"country\": \"\", \"type_name\": \"UK Parliament\", \"generation_low\": 1, \"country_name\": \"-\", \"type\": \"WMP\"}, \"900001\": {\"parent_area\": null, \"generation_high\": 21, \"all_names\": {}, \"id\": 900001, \"codes\": {}, \"name\": \"European Parliament\", \"country\": \"\", \"type_name\": \"European Parliament\", \"generation_low\": 1, \"country_name\": \"-\", \"type\": \"EUP\"}, \"2530\": {\"parent_area\": null, \"generation_high\": 21, \"all_names\": {}, \"id\": 2530, \"codes\": {\"ons\": \"00CK\", \"gss\": \"E08000022\", \"unit_id\": \"9699\"}, \"name\": \"North Tyneside Borough Council\", \"country\": \"E\", \"type_name\": \"Metropolitan district\", \"generation_low\": 1, \"country_name\": \"England\", \"type\": \"MTD\"}, \"11812\": {\"parent_area\": null, \"generation_high\": 21, \"all_names\": {}, \"id\": 11812, \"codes\": {\"ons\": \"01\", \"gss\": \"E15000001\", \"unit_id\": \"41422\"}, \"name\": \"North East\", \"country\": \"E\", \"type_name\": \"European region\", \"generation_low\": 1, \"country_name\": \"England\"[...]
[...]
{"request":{"method":"get","uri":"http://ec2-54-72-85-21.eu-west-1.compute.amazonaws.com/postcode/T27+4DB","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":404,"message":"NOT FOUND"},"headers":{"Proxy-Connection":["Keep-Alive"], "Content-Type":["application/json; charset=utf-8"], "X-Url":["/postcode/T27+4DB"]},"body":{"encoding":"UTF-8","string":"{\"code\": 404, \"error\": \"No Postcode matches the given query.\"}"},"http_version":null},"recorded_at":"Wed, 12 Mar 2014 16:40:29 GMT"},[...]
{"request":{"method":"get","uri":"http://ec2-54-72-85-21.eu-west-1.compute.amazonaws.com/postcode/YO6","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":400,"message":"BAD REQUEST"},"headers":{"Proxy-Connection":["Keep-Alive"], "Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\n    \"code\": 400,\n    \"debug_db_queries\": [],\n    \"error\": \"Postcode 'YO6' is not valid.\"\n}"},"http_version":null},"recorded_at":"Thu, 01 May 2014 11:45:37 GMT"},{"request":{"method":"get","uri":"http://ec2-54-72-85-21.eu-west-1.compute.amazonaws.com/postcode/partial/YO6","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":404,"message":"NOT FOUND"},"headers":{"Proxy-Connection":["Keep-Alive"], "Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\n    \"code\": 404,\n    \"debug_db_queries\": [\n        {\n            \"time\": \"0.297\",\n            \"sql\": \"SELECT ST_Collect(\\\"mapit_postcode\\\".\\\"location\\\") AS \\\"geoagg\\\" FROM \\\"mapit_postcode\\\" WHERE (\\\"mapit_postcode\\\".\\\"postcode\\\"::text LIKE E'YO6%'  AND length(postcode) = 6)\"\n        }\n    ],\n    \"error\": \"Postcode not found\"\n}"},"http_version":null},"recorded_at":"Thu, 01 May 2014 11:45:37 GMT"},[...]
{"request":{"method":"get","uri":"http://mapit.mysociety.org/postcode/T27+4DB","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":404,"message":"NOT FOUND"},"headers":{"Content-Type":["application/json; charset=utf-8"], "X-Url":["/postcode/T27+4DB"]},"body":{"encoding":"UTF-8","string":"{\"code\": 404, \"error\": \"No Postcode matches the given query.\"}"},"http_version":null},"recorded_at":"Wed, 07 May 2014 14:49:03 GMT"}],"recorded_with":"VCR 2.8.0"}