---
http_interactions:
- request:
    method: get
    uri: http://mapit.mysociety.org/postcode/BT80+8QF
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Thu, 03 Jul 2014 14:41:48 GMT
      X-Url:
      - "/postcode/BT80+8QF"
    body:
      encoding: UTF-8
      string: '{"wgs84_lat": 54.63954203775568, "coordsyst": "I", "shortcuts": {"WMC":
        66133, "ward": 16912, "council": 14290}, "wgs84_lon": -6.74016875465643, "postcode":
        "BT80 8QF", "easting": 281392, "areas": {"900000": {"parent_area": null, "generation_high":
        19, "all_names": {}, "id": 900000, "codes": {}, "name": "House of Commons",
        "country": "", "type_name": "UK Parliament", "generation_low": 1, "country_name":
        "-", "type": "WMP"}, "900001": {"parent_area": null, "generation_high": 22,
        "all_names": {}, "id": 900001, "codes": {}, "name": "European Parliament",
        "country": "", "type_name": "European Parliament", "generation_low": 1, "country_name":
        "-", "type": "EUP"}, "137924": {"parent_area": 33397, "generation_high": 22,
        "all_names": {}, "id": 137924, "codes": {"ons": "95KK060002"}, "name": "Output
        Area 95KK060002", "country": "N", "type_name": "Output Area", "generation_low":
        18, "country_name": "Northern Ireland", "type": "OUA"}, "16869": {"parent_area":
        null, "generation_high": 22, "all_names": {}, "id": 16869, "codes": {"ons":
        "12", "gss": "N07000001"}, "name": "Northern Ireland", "country": "N", "type_name":
        "European region", "generation_low": 1, "country_name": "Northern Ireland",
        "type": "EUR"}, "16975": {"parent_area": null, "generation_high": 22, "all_names":
        {}, "id": 16975, "codes": {}, "name": "Mid Ulster", "country": "N", "type_name":
        "Northern Ireland Assembly constituency", "generation_low": 1, "country_name":
        "Northern Ireland", "type": "NIE"}, "16912": {"parent_area": 14290, "[...]
- request:
    method: get
    uri: http://mapit.mysociety.org/postcode/bt80+8qf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 07 Jul 2014 12:48:21 GMT
      X-Url:
      - "/postcode/bt80+8qf"
    body:
      encoding: UTF-8
      string: '{"wgs84_lat": 54.63954203775568,[...]
- request:
    method: get
    uri: http://mapit.mysociety.org/postcode/partial/bt80
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Wed, 09 Jul 2014 13:11:23 GMT
      X-Url:
      - "/postcode/partial/bt80"
    body:
      encoding: UTF-8
      string: '{"wgs84_lat": 54.64636785121557, "coordsyst": "I", "wgs84_lon": -6.747368746033989,
        "postcode": "B T80", "easting": 280914, "northing": 378300}'
  recorded_at: Mon, 14 Jul 2014 11:01:35 GMT
recorded_with: VCR 2.8.0
